[submodule "3rdparty/SDL3"]
	path = 3rdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/SDL3_image"]
	path = 3rdparty/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "3rdparty/SDL3_ttf"]
	path = 3rdparty/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "3rdparty/SDL3_mixer"]
	path = 3rdparty/SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
